@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

/*body {
  font-family: "Slabo 27px", serif;
  color: white;
}*/

h1 {
  font-size: 3em;
  font-weight: bold;
}

#spanTitle {
  font-size: 1.5em;
  font-weight: bold;
  width: 50%;
  text-decoration: underline overline white;
}


.listResults {
  font-size: 1em;
  text-decoration: none;
}



body {
  background: linear-gradient(#3a3d42,#292b2d,black);
  height: 100vh;
  font-family: "Slabo 27px", serif;
  color: white;
}

#image-placement {
  display: flex;
  justify-content: space-around;
}

#image-placement img {
  height: 300px;
  width: 300px;
  border: 3px solid white;
  border-radius: 50%;
}

#image-placement img.onClick {
  border: 7px solid red;
  zoom: 102%;
  opacity: 0.5;
}

li:hover {
  background-color: #99a0aa;
  color: black;
}

input[type=button]{
  width: 60%;
  height: 2em;
  background-size: 100%;
  background-color: #4e5259;
  font-family: "Slabo 27px", serif;
  font-size: 1.5em;
  color: white;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  border-style: none;
}

input[type=button]:hover{
  background-color: red;
}

#displayResults {
  display:flex;
}

#displayVotes {
  /*width: 50%;*/
}

#displayChart {
  width:50%;
}
